ion-content {
    --background: #0b0b0b; /* Color de fondo temporal */
  }
  .gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegúrate de que esto tenga un tamaño suficiente */
    width: 100%; /* Asegúrate de que esto tenga un tamaño suficiente */
  }
  
  