ion-card {
    border-radius: 15px; /* Ajusta el valor para cambiar el grado de redondeo */
    overflow: hidden;     /* Asegura que el contenido no sobresalga de los bordes redondeados */
  }

ion-content {
    --background: #0b0b0b; /* Color de fondo temporal */
}

ion-fab-button {
  --background: rgba(128, 128, 128, 0.6); /* Gris con 60% de opacidad */
}
